
// -----------------------
// Main layout Styles
// -----------------------

html {
  height: 100%;
}
body {
  height: inherit;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#root, .App {
  height: inherit;
}

.App {
  text-align: center;
  flex :1;
  display: flex;
  flex-direction: column;
}

.home {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

