// -----------------------
// South america map Styles
// -----------------------


.contentMap {
  display: inline-block;
  font-family: "dingleberry-solid";
  overflow: scroll;
  padding: 20px 10px 120px;

  .media {
    padding: 10px 10px;
    text-align: left;
  }
  .media-body {
    padding-top: 10px;
  }

}

.mapBg {
  background : #29A9B0;
  height: inherit;
  overflow: hidden;
}

.map {
  display: inline-block;
}

.visitedIcon {
  position: absolute;
  left: 89px;
  margin-top: -10px;
}


#equateurtext:hover ~ .Equateur#equateur{


  fill : $rouge !important;
  cursor: pointer;
}

// country

#chili:hover {
  fill: $rouge !important;
  cursor: pointer !important;
}

#bolivie:hover {
  fill: $rouge !important;
  cursor: pointer;
}

#perou:hover  {
  fill: $rouge !important;
  cursor: pointer;
}

#equateur:hover {
  fill: $rouge !important;
  cursor: pointer;
}

#repDom:hover {
  fill: $rouge !important;
  cursor: pointer;
}

#cuba:hover  {
  fill: $rouge !important;
  cursor: pointer;
}
