

// ----- NAVBAR -------

nav.navbar {
  padding: 0;


  ul {
    padding : 0;
    margin-bottom: 0;

    li {
      transition: all 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
      -webkit-transition: all 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
      &:hover ~ a {
        cursor: pointer;
      }
    }

    li:nth-child(1) {
      transition-delay: 0.05s;
    }
    li:nth-child(2) {
      transition-delay: 0.1s;
    }
    li:nth-child(3) {
      transition-delay: 0.15s;
    }
    li:nth-child(4) {
      transition-delay: 0.20s;
    }
    li:nth-child(5) {
      transition-delay: 0.25s;
    }
    li:nth-child(6) {
      transition-delay: 0.30s;
    }
  }

  ul.menuHidden {
    li {
      transform: translateY(150px);
    }
  }
}

figure {
  margin: 0 !important;
}


.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}


@media screen and (max-width: 768px) {
  .fixed-bottom {
    margin-bottom: -33px !important;
  }
}

.fixed-bottom {
  bottom: 0;
  margin-bottom: -7px;
  border-width: 1px 0 0;
  max-height : 170px;

}



.navbar-default{
  background-color: transparent !important;
  border-color: transparent !important;
}

.navItem{
  width :19%;
  color : white;
}

.menuToggle {
  position : fixed;
  bottom :20px;
  right : 20px;
  z-index : 1000;
  font-family: dingleberry-solid;
  &:hover{
    cursor: pointer;
  }
}


// -----


.svgMenuItem{
  // width : 20%;
  display: inline-block;
  height: 100%;
}
.svgMenuItem:hover polygon {
  fill : $vert;
}

.svgMenuItem:hover polygon {
  points : "0,259.445 377.14,259.445 377.14,81.931 255.14,100.445 104.373,71.005 81.14,32.445 0,69.641 ";
}

polygon {
  pointer-events:all;
}


li figure {
  position: relative;
  overflow: hidden;
}


// -- FIGCAPTION MENU ---


figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 50px 10px 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

figcaption h2 {
  margin: 20px 0px;
  color: white;
  line-height: 90%;
  text-transform: uppercase;
  font-family: dingleberry-solid;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  transition: transform 0.3s, opacity 0.3s;
}
figcaption:hover {
  h2 {
    height: 0px;
    opacity: 0;
  }
  p{
    transform: translateY(-20px);
  }
}

figcaption p {
  padding: 0px 20px;
  color: white;
  font-weight: 300;
  transition: opacity 0.3s, transform 0.3s;
}


figcaption p {
  transform: translateY(50px);
}

// media query

/* Large desktops and laptops */
@include media-breakpoint-up(xl) {
  figcaption h2 {
    margin: 50px 0px;
  }
  figcaption:hover {
    p{
      transform: translateY(-60px);
    }
  }
}

@media (min-width: 1600px) {
  figcaption h2 {
    margin: 60px 0px;
  }
}

/* Landscape tablets and medium desktops */
@include media-breakpoint-only(lg) {
  figcaption h2 {
    margin: 30px 0px;
  }
  figcaption:hover {
    p{
      transform: translateY(-40px);
    }
  }
}

/* Portrait tablets and small desktops */
@include media-breakpoint-only(md) {
  figcaption h2 {
    margin: 10px 0px;
  }
}

/* Landscape phones and portrait tablets */
@include media-breakpoint-only(sm) {
  figcaption:hover {
    h2 {
      height: 10px;
      opacity: 1;
      color : white;
    }
    p{
      transform: translateY(20px);
    }
  }
}

/* Portrait phones and smaller */
@include media-breakpoint-only(xs) {
  figcaption h2 {
    margin: 0px 0px;
  }
}
