
// -----------------------
// Grabamerica Main Styles
// -----------------------



@import 'variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'layout.scss';
@import 'fonts.scss';
@import 'map.scss';
@import 'menu.scss';
@import 'forms.scss';




.mainTitle {
  color : white;
  font-family: dingleberry-solid;
  h1 {
    font-size : 6em;
  }
  p {

  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $orange;
  max-height: 50px;
  padding: 10px;
  color: white;
  font-family: "dingleberry-solid";
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.btn-graba {
  font-family: dingleberry-solid;
  &:hover {
    cursor: pointer;
  }
}
.checkup {
  color: white;
}


// home Video

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}


// Map background depart

.map-bg {
  background-image: url('../img/woodbg2.jpg');
  background-size: cover;

  .col12 {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .col{
    padding-top: 100px;
    h1 {
      color : $violet;
      font-family: dingleberry-solid;
    }
  }
}
 .camera{
   transform: rotate(187deg);
   opacity: 0;
   transition: opacity 0.3s ease-in;
 }

.visa {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  margin-left: 20%;
  transform: rotate(-18deg);
}
.display {
  opacity: 1;
}
